*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.25rem;
}

body {
    font-size: 1rem;
    background: white;
    color: rgb(51, 50, 50);
    margin: 0;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100% ;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

.section-title {
    margin-bottom: .25em;

}

.section-subtitle {
    margin: 0;
}

.section-subtitle-intro, .section-subtitle-about {
    background-color: lightblue;
    margin-bottom: 1em;
    padding: .25em 1em;
}

strong {
    font-weight: bold;
}

.section-subtitle-intro strong {
    display: block;
}

.intro {
    position: relative;
}

nav {
    display: none;
}

section {
    padding: 5em 2em;
}















@media(min-widith: 800px) {
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 3.75rem;
    }
    h3 {
        font-size: 1.5rem
    }
    body {
        font-size: 1.125rem
    }

}

@media (min-widith: 600px) {
    .intro {
        display: grid;
        width: min-content;
        grid-template-areas: inherit 
        "img title"
        "img subtitle";
         grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img ;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section-subtitle-intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}
