body {
    font-family: 'Times New Roman', Times, serif;
    background-color:lightgray;
}
header {
    background-color:darkgray;
    justify-content: space-between;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRfi5-ySklqDNBDphUaUGtepWOXd5x4z_rbdg&usqp=CAU);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-position: 100%;
    padding: 70px 70px;
    
    
}
header h1 {
    font-weight: bold;
    margin: 0;
    color: darkcyan;
    text-align: center;
    font-size: 35px;
}
header a {
    text-decoration: none;
    color:yellow;
    text-align: start;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
.me-pic {
    width: 5%;
    align-items: flex-end;
    
}
.section-title {
    font-weight: bold;
    font-size: 30px;
    color:black;

}


.hero p {
font-size: 20px;
font-style: italic;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer a {
      font-size: 25px;
  }
 .screenshot-1 {
     height: auto;
     width: 25%;

 }
  
  .screenshot-2 {
    width: 20%;
    height: auto;
    justify-content: center;
  }
  .gallery {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 5vw);
      gap: 15px;
     
  }
  .gallery_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .gallery_item--1 {
      grid-column: 1 / span  5;
      grid-row: 1 / span  4;
      background-image: url(./screenshot-1.png);
      height: 300px;
      width: 650px;
      
  }
  .gallery_item--2 {
      grid-column: 5 / span 8;
      grid-row: 5 / span 8;
      width: 550px;
      height: 300px;
  }
  .me-pic {
      float: right;
  }
  .contact-me {
      
      color: lightslategray;
      font-size: x-large;
  }
  .contact-info {
      font-size: xx-large;
      
      
  }
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
    footer h2 {
        text-align: center;
        width: 100%;
    }
        .section-title {
            width: 80%;
        }
    }
    @media screen and (max-width: 768px) {
        section {
          padding: 30px 15px;
        }
    }
    @media screen and (max-width: 575px) {
        .section-title {
            width: 95%;
          }
        }